.site-header {
  background-color: rgba(248, 248, 248, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
  margin-left: 1.5rem;
}
.site-header a:hover {
  color: rgb(70, 65, 65);
  text-decoration: none;
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

#head {
  background-image: url("./Hummingbird_cake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

#header_wording {
  color: aliceblue;
}

@media (max-width: 480px) {
  #logo {
    width: 100px !important;
    height: 50px !important;
  }
  #navbarSupportedContent {
    justify-content: flex-end !important;
  }
  #navbar_container {
    flex-direction: row !important;
  }
}

#hummingbird {
  object-fit: cover;
}

.h4 {
  padding: 1.5rem;
}

#ccc_container {
  margin-top: 2.5rem;
}

#footer {
  background-color: #f5f5f5;
  margin-top: 3rem;
  width: 100%;
}

.breadcrumb {
  background-color: white;
}