html {
  scroll-behavior: smooth;
}

.site-header {
  background-color: rgba(248, 248, 248, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
  margin-left: 1.5rem;
}
.site-header a:hover {
  color: rgb(70, 65, 65);
  text-decoration: none;
}

a:hover {
  color: #304543;
}

.btn-outline-secondary:hover {
  background-color: #f9f9f9;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.overflow-hidden {
  overflow: hidden;
}

#head {
  background-image: url("./Hummingbird_cake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

#header_wording {
  color: aliceblue;
}

#hummingbird {
  object-fit: cover;
}

.h4 {
  padding: 1.5rem;
}

#footer {
  background-color: #f5f5f5;
  margin-top: 3rem;
  width: 100%;
}

.breadcrumb {
  background-color: white;
}

.footer_words {
  margin: 0rem;
}

.nav-link.active {
  border-bottom: 3px solid #304543;
}

#instagram_feed {
  display: flex;
}

#submit_email {
  background-color: #304543;
  color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.no-underline {
  text-decoration: none !important; 
}

.accordion-toggle {
  color: black;
}

.card-title {
  color: #304543;
}

@media (max-width: 480px) {
  #logo {
    width: 100px !important;
    height: 50px !important;
  }
  #navbarSupportedContent {
    justify-content: flex-end !important;
  }
  #navbar_container {
    flex-direction: row !important;
  }
  .nav-item {
    width: max-content !important;
  }
  #order {
    border: none;
  }
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  .pad-left {
    margin-left: 8rem;
    transform: translateX(4rem);
  }
  .translate-x {
    transform: translateX(4rem);
  }
  .nav-link {
    padding: .2rem 1rem !important;
  }
  #order_phone {
    visibility: hidden;
  }
}