{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="head">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <h4 class="display-4 font-weight-normal" id="header_wording"><b>for the introverted side of you</b></h4>
    </div>
</div>
<p class="h4 text-center">Free delivery for order above S$25. Island wide delivery and pick up available.</p>

<div class="container pt-5 text-center" id="email_form">
    <div class="row justify-content-center">
        <h4>Let's keep in touch!</h4>
    </div>
    <div class="row justify-content-center px-3">
        <p>Be updated with the newest products, updates and promotions!</p>
    </div>
    <div class="row justify-content-center">
        <form name="email_input" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-10">
                    <input class="form-control text-center" placeholder="enter your email" name="emails" id="emails"
                        style="background-color: whitesmoke;" autocomplete="off" type="email" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address!
                    </div>
                </div>
                <div class="form-group col-2">
                    <button class="btn" type="submit" id="submit_email">enter</button>
                </div>
            </div>
        </form>
        <div class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">You're awesome!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Can't wait to share some sweet deals with you!
                        <br>xoxo, theintrovertedbaker</br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container justify-content-center" id="instagram_feed">
    <script src="https://apps.elfsight.com/p/platform.js"></script>
    <div class="elfsight-app-13750575-db4f-487f-a80e-78cffab87119"></div>
</div>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        const scriptURL = 'https://script.google.com/macros/s/AKfycbzzZgvgNXS7se-RArNCK1xJBRGUONFZZT74dW34Z-kPqRxWqmUy/exec'
                        const form = document.forms['email_input']

                        event.preventDefault()
                        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                        document.getElementById('emails').value = '';
                        $('#thanks').modal('show');
                        form.classList.remove('was-validated');
                        return false;
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    window.onload = function () {
        minimizeNavBar();
      };
      window.onscroll = function () {
        minimizeNavBar();
      };
      
      function minimizeNavBar() {
        if (
          document.body.scrollTop >= 5 ||
          (document.documentElement.scrollTop >= 5 &&
            window.matchMedia("(min-width: 480px)").matches)
        ) {
          document
            .getElementById("navbarSupportedContent")
            .classList.add("justify-content-end");
          document.getElementById("navbar_container").style.flexDirection = "row";
          document.getElementById("logo").style.height = "50px";
          document.getElementById("logo").style.width = "100px";
          document.getElementById("order").classList.add("btn-outline-secondary")
        } else {
          document
            .getElementById("navbarSupportedContent")
            .classList.remove("justify-content-end");
          document.getElementById("navbar_container").style.flexDirection = "column";
          document.getElementById("logo").style.height = "100px";
          document.getElementById("logo").style.width = "200px";
          document.getElementById("order").classList.remove("btn-outline-secondary")
        }
      }
      
</script>
</div>

{% endblock %}