{% extends "layout.html" %}

{% block title %}Products{% endblock %}

{% block main %}

<div class="container justify-content-start p-3">
    <h2 class="p-3">Cookies</h2>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <a href="/ccc">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Image cap">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
            </a>
            <div class="card-body">
                <a href="/ccc">
                    <h5 class="card-title">Chocolate Chunk Cookies</h5>
                </a>
                <p class="card-text">$13/16</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                <rect width="100%" height="100%" fill="#868e96"></rect>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Biscotti</h5>
                <p class="card-text">$13/16</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                <rect width="100%" height="100%" fill="#868e96"></rect>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Chocolate Chunk Cookies</h5>
                <p class="card-text">$13/16</p>
            </div>
        </div>
    </div>
</div>

<div class="container justify-content-start p-3">
    <h2 class="p-3">Cookies</h2>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                <rect width="100%" height="100%" fill="#868e96"></rect>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Chocolate Chunk Cookies</h5>
                <p class="card-text">$13/16</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                <rect width="100%" height="100%" fill="#868e96"></rect>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Biscotti</h5>
                <p class="card-text">$13/16</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/ccc"><svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Image cap">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg></a>
            <div class="card-body">
                <h5 class="card-title">Chocolate Chunk Cookies</h5>
                <p class="card-text">$13/16</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}